.registroCorrecto {
	text-align:center;
	width: 100%;
	padding: 12px;
	background-color: #4e8;
	color: #fff;
}

.registroIncorrecto {
	text-align:center;
	width: 100%;
	padding: 12px;
	background-color: #a22;
	color: #fff;
}